  <appSettings>
    <add key="FILEPATH" value="{{something}}\TripUpdates.pb"/> <!--full path to where the downloaded TripUpdates.pb is saved-->
    <add key="JSONPATH" value="{{something}}\TripUpdates.json"/> <!--full path to where the json version of the TripUpdates.pb is saved-->
    <add key="URL" value="{{something}}"/> <!--URL for endpoint hosting TripUpdates.pb gtfsrt/tripupdates-->
    <add key="FREQUENCY" value="15"/> <!--interval (in seconds) at which the TripUpdates.pb file is fetched and processed-->
    <add key="ACCEPTROUTE" value=""/> <!--comma-separated list of GTFS route_id's that should be accepted/processed when processing the contents of TripUpdates.pb-->
  </appSettings>