  <appSettings>
    <add key="SERVICENAME" value="gtfsrt_alert"/> <!--name of service-->
    <add key="SERVICEDESCRIPTION" value="Alert service"/> <!--description of service-->
    <add key="FILEPATH" value="{{something}}\ServiceAlerts.pb"/> <!--full path to where the downloaded ServiceAlerts.pb is saved-->
    <add key="JSONPATH" value="{{something}}\ServiceAlerts.json"/> <!--full path to where the json version of the ServiceAlerts.pb is saved-->
    <add key="URL" value="https://api.actransit.org/transit/gtfsrt/alerts?token=14F0B34EE4DFE745E28E2F5EA369A59E"/> <!--URL for gtfsrt/alerts -->
    <add key="RESETTIME" value="4:00 AM"/>
    <add key="FREQUENCY" value="86400"/> <!--interval (in seconds) at which the ServiceAlerts.pb file is fetched and processed-->
    <add key="PERIOD_END_CHANGE_SECONDS" value="300"/> <!--interval (in seconds) for which a change in active_period end time is recorded as a new version-->
  </appSettings>