  <appSettings>
    <add key="SERVICENAME" value="gtfsrt-vehicleposition-denormalized"/>
    <add key="SERVICEDESCRIPTION" value="Saves all vehicle positions for accepted routes"/>
    <add key="FILEPATH" value="\\azapptest09\c$\Projects\TransitPerformance\Services\gtfsrt\VehiclePositions.pb"/>
    <add key="JSONPATH" value="\\azapptest09\c$\Projects\TransitPerformance\Services\gtfsrt\VehiclePositions.json"/>
    <add key="URL" value="https://api.actransit.org/transit/gtfsrt/vehicles?token=14F0B34EE4DFE745E28E2F5EA369A59E"/>
    <add key="RESETTIME" value="4:00 AM"/>
    <add key="FREQUENCY" value="15"/>
    <add key="ACCEPTROUTE" value=""/>
  </appSettings>