  <appSettings>
    <add key="ConfigStructureFile" value="{{something}}\config_files_structure.json"/> <!--full path to config_files_structure.json-->
    <add key ="LastModifiedDateFile" value="{{something}}\lastmodified.txt"/> <!--full path to lastmodified.txt-->
    <add key ="ConfigFilesPath" value="{{something}}\ConfigUpdate\Config Files"/> <!--full path to location of config files-->
    <add key ="DatabaseName" value="transit_performance"/>
  </appSettings>