  <appSettings>
    <add key="ConfigStructureFile" value="\\azapptest09\c$\Projects\TransitPerformance\ConfigUpdate\config_files_structure.json"/> <!--full path to config_files_structure.json-->
    <add key ="LastModifiedDateFile" value="\\azapptest09\c$\Projects\TransitPerformance\ConfigUpdate\lastmodified.txt"/> <!--full path to lastmodified.txt-->
    <add key ="ConfigFilesPath" value="\\azapptest09\c$\Projects\TransitPerformance\ConfigUpdate\ConfigUpdate\Config Files"/> <!--full path to location of config files-->
    <add key ="DatabaseName" value="transit_performance"/>
  </appSettings>